doctype html
html(lang="en")
  head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    title NEWS.ME
    style= css
  body
    nav
      h1 NEWS.ME
      p= date
    section
      each item in newsfeed
        article
          a(href="#{item.link}")
            h2!= item.title
          .from
            span= item.source
          p.description!= item.description
